<footer class="section footer">
    <div class="footer-bottom">
        <div class="container">
            <div class="col-sm-4 text-left footer-item">
                <h4>A propos</h4>
                <p>
                    &copy; recaptchaprotector.com {{ 'now'|date('Y') }}
                    C'est interdit d'utiliser Protect-Mania pour faire du spam ou pour partager du contenu illégal, Merci.
                </p>
            </div>
            <div class="col-sm-4 text-left footer-item">
                <h4>Sponsors & Liens Utiles</h4>
                <a href="https://www.google.com/recaptcha/intro/android.html" class="sponsor" target="_blank">
                    Google reCaptcha
                </a>
            </div>
            <div class="col-sm-4 text-left footer-item">
                <h4>Contact</h4>
                <p>
                    contact@recaptchaprotector.com
                </p>
            </div>
            <div class="col-md-12">
                <p> Tous droits réservés -&copy;-{{ 'now'|date('Y') }}<br>
                    Réalisé avec <i class="fa fa-heart pulse"></i> par <a href="http://www.oswa-group.com/" target="_blank">Oswa Group</a></p>
            </div>
        </div>
    </div>
</footer>